# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Downloaded dataset cache
/data/raw/ag_news/

# Optional NLTK corpus cache
/data/nltk_data/

# Environment variables
.env

# Operating systems and editors
.DS_Store
Thumbs.db
.vscode/
.idea/
